.aboutContainer {
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
}

.featuresSection {
  margin-top: 40px;
  background: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.sectionTitle {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.featureList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}

.featureItem {
  background: white;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.featureItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.featureIcon {
  width: 28px;
  height: 28px;
  color: black;
  transition: transform 0.3s ease;
}

.featureItem:hover .featureIcon {
  transform: scale(1.2) rotate(5deg);
}



/* Mobile responsive */
@media (max-width: 768px) {
  .featureList {
    grid-template-columns: 1fr;
  }
}
