.calendarContainer {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .calendarButton {
    font-size: 18px;
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  
  .header {
    font-size: 24px;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  
  .monthContainer {
    margin-bottom: 30px;
  }
  
  .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-bottom: 10px;
  }
  
  .weekday {
    font-weight: bold;
  }
  
  .dayGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }
  
  .day {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .day:hover {
    background-color: #ddd;
  }
  
  .available {
    background-color: #28a745; /* Green for available dates */
    color: white;
  }
  
  .today {
    background-color: #007bff; /* Blue for today's date */
    color: white;
  }

  .pastDay {
    color: #aaa; /* light grey text */
    background-color: #f0f0f0; /* lighter background if you want */
    pointer-events: none; /* makes it unclickable */
    opacity: 0.6;
  }
  
  .legendContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  
  .legendItem {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.95rem;
  }
  
  .legendColor {
    width: 16px;
    height: 16px;
    border-radius: 4px;
  }
  
  /* Colors */
  .todayColor {
    background-color: #4A90E2; /* Blue for today */
  }
  
  .availableColor {
    background-color: #4CAF50; /* Green for available */
  }
  
  .unavailableColor {
    background-color: #CCCCCC; /* Grey for unavailable/past */
  }
  @media (max-width: 768px) {
    .calendarContainer {
      margin: 0 20px;
    }
  }
  